.booking {
    background-color: var(--primary-color);
}

.booking__container form {
    max-width: 350px;
    margin: auto;
    display: grid;
    gap: 2rem;
}

.input__group {
    display: grid;
    gap: 1rem;
}

.input__group label {
    font-weight: 600;
    color: var(--white);
}

.input__group input {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    color: var(--white);
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--text-light);
    border-radius: 5px;
}

.input__group input::placeholder {
    color: var(--text-light);
}


@media (width > 768px) {
.booking__container form {
    max-width: 100%;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
  }

}

