<section class="intro">
  <div class="section__container intro__container">
    <div class="intro__cotent">
      <p class="section__subheader">VÍDEO DE INTRODUCCIÓN</p>
      <h2 class="section__header">Reúnase con nuestro lugar de lujo</h2>
      <p class="section__description">
        Ya sea que esté buscando un escondite acogedor y exclusivo o un viaje de inmersión bajo la superficie, el Hotel
        Farias promete ser una estadía inolvidable, donde las profundidades del confort y la emoción esperan su
        llegada.
      </p>
    </div>
    <div class="intro__video">
      <video src="../../assets/img/luxury.mp4" autoplay muted loop></video>
    </div>
  </div>
</section>