<section class="section__container feature__container" id="feature">
  <p class="section__subheader">INSTALACIONES</p>
  <h2 class="section__header">Características principales</h2>
  <div class="feature__grid">
    <div class="feature__card">
      <span><i class="ri-thumb-up-line"></i></span>
      <h4>Tener calificación alta</h4>
      <p>
        Nos enorgullecemos de seleccionar una selección de hoteles que constantemente reciben altas calificaciones y
        críticas positivas.      
      </p>
    </div>
    <div class="feature__card">
      <span><i class="ri-time-line"></i></span>
      <h4>Horarios</h4>
      <p>
        Entendemos que la paz y el descanso ininterrumpido son esenciales para una experiencia rejuvenecedora.
      </p>
    </div>
    <div class="feature__card">
      <span><i class="ri-map-pin-line"></i></span>
      <h4>Mejor Ubicación</h4>
      <p>
        En nuestro sitio web de reservas de hoteles, nos enorgullecemos de ofrecer alojamiento en las ubicaciones más
        privilegiadas y solicitadas.
      </p>
    </div>
    <div class="feature__card">
      <span><i class="ri-close-circle-line"></i></span>
      <h4>Cancelación gratis</h4>
      <p>
        Entendemos que los planes de viaje pueden cambiar inesperadamente, por eso ofrecemos la flexibilidad de la
        cancelación gratuita.
      </p>
    </div>
    <div class="feature__card">
      <span><i class="ri-wallet-line"></i></span>
      <h4>Opciones de pago</h4>
      <p>
        Nuestro sitio web de reservas de hotel ofrece una gama de cómodas opciones de pago que se adaptan a sus
        preferencias.
      </p>
    </div>
    <div class="feature__card">
      <span><i class="ri-coupon-line"></i></span>
      <h4>Ofertas especiales</h4>
      <p>
        Ya sea que esté planeando una escapada romántica o un viaje de negocios, nuestras ofertas especiales
        cuidadosamente seleccionadas satisfacen todas sus necesidades.
      </p>
    </div>
  </div>
</section>