<section class="about" id="about" [@fadeInOut]>
  <div class="section__container about__container">
    <div class="about__grid">
      <div class="about__image">
        <img src="../../assets/img/about-1.jpg" alt="about" />
      </div>
      <div class="about__card">
        <span><i class="ri-user-line"></i></span>
        <h4>Equipo fuerte</h4>
        <p>
          Descubra la excelencia hotelera y garantice su estancia perfecta
        </p>
      </div>
      <div class="about__image">
        <img src="../../assets/img/about-2.jpg" alt="about" />
      </div>
      <div class="about__card">
        <span><i class="ri-calendar-check-line"></i></span>
        <h4>Habitación de lujo</h4>
        <p>Experimente un lujo inigualable en nuestras exquisitas habitaciones de lujo</p>
      </div>
    </div>
    <div class="about__content">
      <p class="section__subheader">SOBRE NOSOTROS</p>
      <h2 class="section__header">Descubra Nuestro Metro</h2>
      <p class="section__description">
        Bienvenido a un reino escondido de alojamientos extraordinarios donde convergen el lujo, la comodidad y la
        aventura. Nuestros hoteles subterráneos ofrecen un escape incomparable de lo común, invitándolo a explorar un
        mundo subterráneo de maravillas.
      </p>
    </div>
  </div>
</section>