<app-nav></app-nav>

<div class="container"> 
    <div class="container-2">

        <h1>Bienvenido Administrador</h1>
        <p>¡Gracias por tu labor! Aquí están tus opciones:</p>
    
        <div class="options">
            <a routerLink="/admin/rooms">Editar habitaciones</a>
            <a routerLink="/admin/rooms">Eliminar habitaciones</a>
            <a routerLink="/admin/rooms">Crear habitaciones nuevas</a>
            <a routerLink="/admin/date">Ver lista de fechas disponibles</a>
            <a routerLink="/admin/clients">Ver lista de clientes</a>
        </div>
    </div>
</div>
