<section class="section__container news__container" id="news">
  <div class="news__header">
    <div>
      <p class="section__subheader">BLOG</p>
      <h2 class="section__header">Noticias</h2>
    </div>
    <div class="section__nav">
      <span><i class="ri-arrow-left-line"></i></span>
      <span><i class="ri-arrow-right-line"></i></span>
    </div>
  </div>
  <div class="news__grid">
    <div class="news__card">
      <img src="../../assets/img/news-1.jpg" alt="news" />
      <div class="news__card__title">
        <p>25 de marzo de 2022</p>
        <p>Por Emilia</p>
      </div>
      <h4>Explorando las joyas culinarias locales: una guía para los amantes de la gastronomía.</h4>
      <p>
        Únase a Emily mientras lo lleva a una aventura gastronómica por el vecindario que rodea nuestro hotel.
      </p>
    </div>
    <div class="news__card">
      <img src="../../assets/img/news-2.jpg" alt="news" />
      <div class="news__card__title">
        <p>15 de junio de 2022</p>
        <p>Por David</p>
      </div>
      <h4>Equilibrando Mente, Cuerpo y Alma en Nuestro Hotel.</h4>
      <p>
        Descubra tratamientos de spa holísticos, instalaciones de fitness y prácticas de atención plena que le harán
        sentirse renovado.
      </p>
    </div>
    <div class="news__card">
      <img src="../../assets/img/news-3.jpg" alt="news" />
      <div class="news__card__title">
        <p>08 de agosto de 2022</p>
        <p>Por Sara</p>
      </div>
      <h4>Explorando actividades al aire libre cerca de nuestro hotel.</h4>
      <p>
        Desde rutas de senderismo y ciclismo hasta deportes acuáticos y encuentros con la vida silvestre, destaca
        formas de experimentar las maravillas de la naturaleza.
      </p>
    </div>
  </div>
</section>